@font-face {
  font-family: dock11;
  src:url(heavy_dock11.otf);
}
body {
  width:100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  background-color:#222222;
}
.emboss-txt {
  filter: blur(0.5px);
  position: relative;
  font-size: 180px;
  font-family: dock11;
  letter-spacing: 5px;
  color:rgb(207,207,207);
  text-shadow: 
  /*3d layers*/
  0px 0px 1px rgb(167,167,167),
  0px 1px 1px rgb(167,167,167),
  0px 2px 1px rgb(167,167,167),

  1px 1px 1px rgb(167,167,167),
  1px 2px 1px rgb(167,167,167),
  1px 3px 1px rgb(167,167,167),

  2px 2px 1px rgb(167,167,167),
  2px 3px 1px rgb(167,167,167),
  2px 4px 1px rgb(167,167,167),

  /*long soft bottom*/
  1px 10px 30px rgba(0,0,0,0.8),
  1px 10px 70px rgba(0,0,0,0.8),

  /*short soft bottom*/
  0px 5px 5px rgba(0,0,0,0.8),

  /*left shadow*/
  -5px 5px 20px rgba(0,0,0,0.8),
  /*right shadow*/
  5px 5px 20px rgba(0,0,0,0.8),

  /*white light*/
  1px 1px 120px rgba(255,255,255,0.5);
}
.emboss-txt::after {
  content: "HELLO.";
  font-size: 180px;
  letter-spacing: 5px;
  font-family: dock11;
  position: absolute;
  top:0;
  left:0;
  text-shadow: 0px 0px 100px rgba(11,124,199,0.5);
  animation: cycle 10s linear infinite;
}
@keyframes cycle {
  0% { text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
  20% { text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
  40% { text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
  60% { text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
  80% { text-shadow: 0px 0px 100px rgba(199,96,11,0.5);}
}