# Images and files
* .png
* .jpg
* .svg

# Standard programming languages
* .html
* .css
* .js
* .php
* .json
* .yaml
* .yml

# Lightweight markup language
* .md
* .markdown

# Document file format & Generic container format
* .txt
