body {
    background: none;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #5071C7;
    font-size: 100px;
    font-family: 'Samsung Sharp Sans', sans-serif;
    letter-spacing: 7px;
   


}